---
const pageTitle = "Inicio";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
    <a href="/blog/">Blog</a>

    <h1>{pageTitle}</h1>
    <h2>... ¡y mi nuevo sitio Astro!</h2>
    <h1>Astro</h1>
    <p>No me funcina github</p>
    <a href="">hola</a>

    <button>Click me</button>
  </body>
</html>
<script>
  const button = document.querySelector("button");
  const span = document.querySelector("span");

  function handleClick() {
    let count = Number(span.textContent);
    count = count + 1;
    span.innerText = count.toString();
  }
  button.addEventListener("click", handleClick);
</script>
