---
import BaseLayaout from "../layouts/BaseLayaout.astro";
import "../styles/global.css";

const pageTitle = "Inicio";
---

<BaseLayaout pageTitle={pageTitle}>
  <h2>Mi impresionatntes subtitulo de blog</h2>
</BaseLayaout>
