---
import Social from "./Social.astro";
---

<footer>
  <p>
    <Social platform="github" username="devv0710" />
    <Social platform="youtube" username="" />
    <Social platform="facebook" username="devv0710" />
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
